/*------------------------------------------------------------------
Project:  LeakCode
Version:  1.0
Last change:  -
Assigned to:  Pablo Zubieta ,Christophe Kunsli
Primary use:  Apprendre enfin je crois
#52cfeb
#49f5b3
#3f91d4
#3fd4c7
#4776ed

-------------------------------------------------------------------*/


h2{
    text-align: center;
    color: #4776ED;
}
h3{
    color: #49F5B3;
    font-size: large;
}
.centerp{
font-size: larger;
    text-align: center;
    color: #3F91D4;
}
.leftp{
    text-align: left;
background-color: #4776ED;
    color: #49F5B3;
}
.rightp{
    text-align: right;
background-color: #49F5B3;
    color: #4776ED;
}
.littlep{
font-size: xx-small;
}
.halfpagel{
    width: 50%;
    float: left;


}
.halfpager{
    width: 50%;
    float: right;

}
